<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script src="../static/js/displayImg.js"></script>
</head>
<body>
<h1>{{ title }}</h1>
{% block content %}
<!-- ここにメインコンテンツを書く -->
{% endblock %}
</body>
</html>