{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align:center">********</h1>
    <h3 style="text-align:center">************</h3>
  <div id="container">
      <div class='member_name_area'>
        <span class="member_name"></span>
        <span class="next_member_name"></span>
      </div>
    <div class="buddy" style="display: block;"></div>
  </div>
    <div class="'judge">
      <input type="button" value="'''LOVE'''" class="button2 alignLeft" onclick="putEvaluation(1)">
      <input type="button" value="Like" class="button2 alignRight" onclick="putEvaluation(0)">
  </div>
    <div class="finish">
      <input type="button" value="End" class="button2" onclick="location.href='/endEvaluation'">
    </div>
<script src="../static/js/displayImg.js?201907072100"></script>
{% endblock %}
